.navbar{
    padding-left: 75px;
    padding-right: 100px;
}
.navbar-brand{
    letter-spacing: 1px !important;
}
.section-header .location{
    font-size: 18px !important;
    font-weight: 600;
}
.section-header h1{
    display: block !important;
}
.card-icon i{
    color: #ffffff !important;
}
.section .section-title::before{
    background-color: #000 !important;
}
#app{
    font-family: 'Nunito', 'Segoe UI', arial;
}
#table-1 .btn-dark{
    color: #fff !important;
    background-color: #000000 !important;
    border: none !important;
}
#table-1 .td{
    padding: 0 !important;
}